form {
  display: flex;
  flex-direction: column !important;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
form input[name="city"],
form input[name="country"] {
  background-color: transparent;
  color: #e0a800;
  border: 0;
  border-bottom: 2px solid whitesmoke;
  border-radius: 0;
}

button {
  /* margin: 2rem; */
}
